.product-list {
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  gap: .5em;
  padding: .5em 0;
  &__item {
    padding: .5em;
    background: #EEEEEE;
    border-radius: .125em;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    &:first-of-type {
      border-top: 0;
    }
  }
  &__item-action {
    width: 1em;
  }
}
