.app {
  display: flex;
  &__sidebar {
    padding: 1em;
    width: 20em;
    background: #FFFFFF;
    height: 100vh;
    display: flex;
    overflow-y: auto;
    flex-flow: column;
  }
  &__content-breadcrumbs-item {
    &_link {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__sidebar-title {
    font-size: 1em;
  }
  &__sidebar-tree-search {
    padding: 1em 0;
  }
  &__content {
    flex: 1;
    padding: 1em;
    background: #F0F0F0;
    overflow-y: auto;
  }
}
