<div class="lang-switcher">
  <div class="lang-switcher__toggle" @click="toggleMenu">
    <AngleSmallDown :size="16" />
    <div :class="['lang-switcher__flag', `lang-switcher__flag_${locale.toLowerCase()}`]" />
    <span class="lang-switcher__current">{{ locale.toUpperCase() }}</span>
  </div>
  <div v-if="isOpen" class="lang-switcher__menu">
    <div
      v-for="(loc, index) in availableLocales"
      :key="index"
      class="lang-switcher__option"
      @click="selectLocale(loc)"
    >
      <div :class="['lang-switcher__flag', `lang-switcher__flag_${loc.toLowerCase()}`]" />
      <span>{{ loc.toUpperCase() }}</span>
    </div>
  </div>
</div>
